.body
{
 display: flex;
 flex-direction: column;
 text-align: center;
 justify-content: center;
 font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.title
{
    display:flex;
    justify-content: center;
    font-size: 30px;
    box-shadow: 0 4px 5px 0 rgba(34, 12, 12, 0.2), 0 6px 15px 0 rgba(0, 0, 0, 0.19);
    background: linear-gradient( 90deg, #0eb49e, #07c5ff, #008f8f);
    animation: Arcoiris 5s linear infinite;
}

@keyframes Arcoiris
{
    0% {background-position: 0% 50%;};
    100% {background-position: 100% 50%;};
}

.list
{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    list-style: none;
}

article
{

    justify-content: center;
    width: 200px;
    position: relative;
    transition: all .3s ease;
}

article img:first-child
{
    border-radius: 4px;
    box-shadow: 0 60px 60px -60px rgba(0,30,255,0.5);
    object-fit: cover;
    width: 100%;
}

article img:last-child
{
    position: absolute;
    width: 100%;
    justify-content: center;
    left: 0;
    right: 0;
    margin: auto;
    transform: translateY(25%);
    transition: all .3s ease;
    opacity: 0;
}

article:hover
{
 transform: perspective(250px)
 rotateX(10deg)
 translateY(-5%)
 translate(0);
}

article:before
{
    position:absolute;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to bottom, transparent 10%,rgba(0,0,0,0.5), rgba(0, 0, 0,) 95%);
    opacity: 0;
    transition: all .3s ease;
}

article:hover::before
{
    opacity: 1;
}
article:hover img:last-child
{
    opacity: 1;
    transform: translateY(10%);
}

.button
{
    display: flex;
    background-color: "lightblue";
    border: none;
    color: rgb(0, 0, 0);
    border-radius: 12px;
    padding: 15px 15px;
    text-align: center;
    justify-content: center;
    cursor: pointer;
    transition-duration: 0.15s ease, transform 0.5s ease;
    box-shadow: 0 4px 5px 0 rgba(34, 12, 12, 0.2), 0 6px 15px 0 rgba(0, 0, 0, 0.19);
}

.img
{
    display: none;
    justify-content: center;
    width: 200px;
    border-radius: 12px;
}

.button:hover
{
    transform: translateY(-5px);
    background-color: "lightblue";
}

.button:active
{
    transform:translateY(0px);
}

.head
{
 display:flex;
 flex-direction: column;
 text-align: center;
 font-size: large;
}
