{% extends "layout.html" %}

{% block title %}Index{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Shares</th>
                <th>Price</th>
                <th>TOTAL</th>
            </tr>
        </thead>
        <tbody>
            {% for stock in stocks %}
                <tr>
                    <td>{{ stock.symbol }}</td>
                    <td>{{ stock.shares }}</td>
                    <td>{{ stock.price | usd }}</td>
                    <td>{{ (stock.shares * stock.price) | usd }}</td>
                </tr>
            {% endfor %}
            <tr>
                <td colspan="3" class="text-end"><strong>Cash</strong></td>
                <td>{{ cash | usd }}</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3" class="text-end"><strong>GRAND TOTAL</strong></td>
                <td>{{ total_value | usd }}</td>
            </tr>
        </tfoot>
    </table>
{% endblock %}
